.webgl{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}
:root{
  --lightGreen: #6acd0c;
  --darkGreen: #30aa49;
  --yellow: #faef55;
  --green:#95D600;
}

@font-face {
  font-family: f1;
  src: url("/font/Green_Energy.ttf");
}

*{
  /* width: 100%; */
  box-sizing: border-box;
  
}

body::-webkit-scrollbar {
  display: none;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.f1{
  font-family: f1;
}
.flex{
  display: flex;
}
.flexC{
  display: flex;
  flex-direction: column;
}
.gap0{
  gap: 0.5rem;
}
.gap1{
  gap: 1rem;
}
.gap2{
  gap: 2rem;
}
.gap4{
  gap: 4rem;
}
.pdi3{
  padding-inline: 3rem;
}
.pdi4{
  padding-inline: 4rem;
}
.pdi2{
  padding-inline: 2rem;
}
.spaceBw{
  justify-content: space-between;
}
.alignC{
  align-items: center;
}
.justifyC{
  justify-content: center;
}
.textC{
  text-align: center;
}
.bgB{
  background-color: black;
}
.bgY{
  background-color: var(--yellow);
}
.bgG{
  background-color: var(--green);
}
.bgLg{
  background-color: var(--lightGreen);
}
.bgDg{
  background-color: var(--darkGreen);
}
.cG{
  color: var(--green);
}
.cLg{
  color: var(--lightGreen);
}
.cDg{
  color: var(--darkGreen);
}
.cB{
  color: black;
}
.cW{
  color: white;
}
.textX{
  font-size: 24rem;
}
.fontB{
  font-weight: bold;
}
.mgT2{
  margin-top: 2rem;
}

/**/
.page1{
  height: 100vh;
}
.p1MainText{
  margin-left: 4rem;
  letter-spacing: -1rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient( var(--lightGreen) , var(--darkGreen));
}
.maxW50Ch{
  max-width: 50ch;
}

.tryButton{
  background-image: linear-gradient(to right, var(--lightGreen) , var(--darkGreen));
  color: black;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem 3rem;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  width: fit-content;
  height: min-content;
}

/**/
.page2{
  /* background-image: linear-gradient( black , var(--lightGreen)); */
  background-color: black;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}
.p2Main{
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient( var(--lightGreen) , black); */
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 6rem;
  /* color: #6acd0c; */
  
  /* border: 2px solid red; */
  
  margin-left: 3rem;
  
  
  /* color: white; */
}
.p2Main>div{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient( var(--lightGreen) , var(--darkGreen));
}

.circle{
  background-color: var(--green);
  width: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url("/images/i2.avif");
  background-size: cover;
  background-position: center;
}
.circle2{
  transform: translateY(-20%) translateX(-30%);
  background-image: url("/images/i4.avif");
  background-size: cover;
  background-position: center;
}
.circleContainer{
  position: absolute;
  width: min-content;
  bottom: 0%;
  right: 3%;
}

.page3{
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  /* align-items: end; */
  padding-bottom: 1rem;
  position: relative;
}
.page3>div{
  /* border: 2px solid red; */
}
.absolute{
  position: absolute;
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 6rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient( var(--lightGreen) , var(--darkGreen));
  text-align: center;
  padding-top: 1rem;
  
  left: 50%;
  transform: translateX(-50%) ;
}
.p3Image{
  /* width: 400px;
  height: min-content; */
  width: 90%;
  height: 53%;
  object-fit: cover;
  align-self: end;
  /* transform: rotate(5deg); */
}
header{
  background-color: transparent;
  z-index: 200;
  text-transform: uppercase;
  font-family: f1;
  font-weight: bold;
  font-size: larger;
  color: var(--green);
  position: absolute;
  width: 100vw;
  box-sizing: border-box;
  padding-inline: 5rem;
  justify-content: space-evenly;
  backdrop-filter: blur(1rem);
  padding-block: 1rem;
}
header img{
  width: 100%;
  height: 100%;
}
.logoBox{
  width: 50px;
}
.videoContainer{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
video{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}